name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    uses: ./.github/workflows/_check.yml
    with:
      os: ubuntu-latest

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: shellcheck starkup.sh

  shfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: mfinelli/setup-shfmt@v3
      - uses: actions/checkout@v4
      - run: shfmt --diff starkup.sh

  website-fmt:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: www
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: www/package-lock.json
      - run: npm ci
      - run: npm run fmt && git diff --exit-code

  website-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: www
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: www/package-lock.json
      - run: npm ci
      - run: npm run build
