name: Website Deploy

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/website-deploy.yml'
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

concurrency:
  group: "website-deploy"
  cancel-in-progress: true

jobs:
  deploy:
    name: Build and publish website
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: www
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: www/package-lock.json

      - run: npm ci
      - run: npm run build

      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: Upload website to Cloud Storage
        uses: google-github-actions/upload-cloud-storage@v2
        with:
          project_id: ${{ secrets.PROJECT_ID }}
          path: www/dist
          destination: starkup-dev-landing
          parent: false
          process_gcloudignore: false
